{% extends 'mainpage/base.html' %}
{% load static %}

{% block title %}
    <title>Товары для детей - КрейзиПипл-ВудуПипл</title>
{% endblock %}

{% block content %}
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({% static 'mainpage/img/' %}/bg-img/bg-1.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>Товары для детей - КрейзиПипл-ВудуПипл</h2>
                        <a href="{% url 'catalogue' %}" class="btn essence-btn">ПЕРЕЙТИ К КАТАЛОГУ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand1.png alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand2.png alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand3.png alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand4.png alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand5.png alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src={% static 'mainpage/img/' %}core-img/brand6.png alt="">
        </div>
    </div>
    <!-- ##### Brands Area End ##### -->
{% endblock %}
