{% extends 'mainpage/base.html' %}
{% load static %}

{% block title %}
    <title>Страница товара {{ item.name }}</title>
{% endblock %}

{% block content %}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center" style="max-width: 60%;margin: 105px 0 20px 140px;">
    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel prod-img">
            <img src={% static 'mainpage/img/' %}product-img/product-1.png alt="">
            <img src={% static 'mainpage/img/' %}product-img/product-2.png alt="">
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
            <h2>{{ item.name }}</h2>
        <p class="product-price">{{ item.price }} грн.</p>
        <p class="product-desc">{{ item.description }}</p>
        <!-- Cart & Favourite Box -->
        <div class="cart-fav-box d-flex align-items-center">
            <!-- Cart -->
            <a href="edit/" class="btn essence-btn">Редактировать товар</a>
            <!-- Favourite -->
        </div>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->
{% endblock %}
