{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'mainpage/style.css' %}" />
        <title>Список товаров</title>
    </head>
    <body>
        <a href="{% url 'catalogue' %}">НАЗАД</a><br>
        <h1>{{ catalogue_id }}</h1>
        <div style='padding-bottom:20px;display:block;'>
        {% for item in sorted_products %}
            <div style='padding:10px;display:inline-block;'>
                <b>Название:</b> {{ item.name }}<br>
                <b>Описание:</b> {{ item.description }}<br>
                <b>Цена:</b> {{ item.price }}
            </div>
        {% endfor %}
        </div>
    </body>
</html>
