{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}
    <title>Регистрация нового пользователя</title>
{% endblock %}
{% block content %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form method="post" class="login100-form validate-form flex-sb flex-w">
        <span class="login100-form-title p-b-51">Регистрация</span>
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        <div class="wrap-input100 validate-input m-b-16" data-validate="Необходимо заполнить поле!">
            {{ field }}
        </div>
        {% if field.help_texts %}
        <small style="color: grey">{{ field.help_texts }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      <div class="container-login100-form-btn m-t-17">
        <button type="submit" class="login100-form-btn">
          Зарегистрироваться
        </button>
      </div>
    </form>
  </div>
</div>
</div>

{% endblock %}
