{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}
<title>Вход для зарегистрированного пользователя</title>
{% endblock %}
{% block content %}
{% if form.errors %}
<p class="alert-error">Вы указали неверный логин или пароль. Пожалуйста, попробуйте снова.</p>
{% endif %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form method="post" class="login100-form validate-form flex-sb flex-w" action="{% url 'login' %}">
                {% csrf_token %}
                <span class="login100-form-title p-b-51">
                    Вход
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Необходимо указать имя пользователя!">
                    {{ form.username }}
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Необходимо указать пароль!">
                    {{ form.password }}
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        Войти
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
