{% extends 'mainpage/base.html' %}
{% load static %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                    Вход
                </span>


                <div class="wrap-input100 validate-input m-b-16" data-validate = "Необходимо указать имя пользователя!">
                    <input class="input100" type="text" name="username" placeholder="Имя пользователя">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate = "Необходиму указать пароль!">
                    <input class="input100" type="password" name="pass" placeholder="Пароль">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Войти
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
